.nav {
    background-color: #FFFFFF;
    box-shadow: 0px 3px 30px #7B7B7B29;
    opacity: 1;
}

.Add_button_div {
    display: flex;
    justify-content: right;
}

.box1 {
    border-radius: 5px;
    flex-direction: column;
    height: 250 px;
    width: 250px;
    background-color: #FFFFFF;
    border-color: #EDEDED;
    padding: 10px;
    justify-content: space-around;
    display: flex;
    border-bottom: 1px solid #EDEDED;
}

.complete_div {
    display: flex;
    justify-content: space-around;
}

html {
    background-color: #edededb5;
}