* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    align-items: center;
}

.p2 {
    font-family: "Romanesco";
    font-size: 40px;
    margin: auto;
    text-align: center;
}

#imge2 {
    background-image: url(./image/img2.png);
    height: 140px;
    width: 140px;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

.btn {
    background-color: #D09CFA;
    margin: auto;
    border-radius: 3px;
    font-family: "Romanesco";
    font-size: 25px;
    text-align: center;
    display: flex;
}

.link {
    color: black
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF;
    border-radius: 3px;
    top: 0;
    box-shadow: 0 3px 6px rgb(0 0 0 / 5%);
}

.links_parent {
    display: flex;
    gap: 26px;
    justify-content: space-evenly;
}

.header {
    position: sticky;
    top: 0;
    box-shadow: 0 3px 6px rgb(0 0 0 / 5%);
}