* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: vh;
    width: vw;
}

body {
    background-image: url(./image/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    align-items: center;
}

.p2 {
    font-family: 'Moon Dance', cursive;
    font-size: 50px;
    margin: auto;
    text-align: center;
    color: #FFF;
}

.p3 {
    font-family: "Yaldevi";
    font-size: 20px;
    margin: auto;
    text-align: center;
    color: #F7E8F6;
    padding-bottom: 4px;
    font-style: italic;
    text-decoration: double underline #F7E8F6 1px;
}

#imge2 {
    background-image: url(./image/img2.png);
    height: 140px;
    width: 140px;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
    margin-top: 10px;
}

.btn {
    background-color: #e2bdff;
    margin: auto;
    border-radius: 3px;
    font-family: "Romanesco";
    font-size: 28px;
    text-align: center;
    display: flex;
    cursor: pointer;
}

.btn:hover {
    background-color: #fbdaf9;
}

.link {
    color: black
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, #6F38C5, #F7E8F6, #C147E9);
    border-radius: 3px;
    top: 0;
    box-shadow: 0 3px 6px rgba(213, 207, 207, 0.05);
}

.links_parent {
    display: flex;
    gap: 26px;
    justify-content: space-evenly;
}

.header {
    position: sticky;
    top: 0;
    box-shadow: 0 3px 6px rgb(0 0 0 / 5%);
}

.img3 {
    background-image: url(./image/img9.png);
    background-position: bottom center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}