* {
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
}

.grid {
    padding: 4px;
    text-align: center;
    border-radius: 10px;
    color: white;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: repeat(3, 100px);
    grid-gap: 2rem;
}

.box {
    background-color: plum;
    width: 80px;
    height: 80px;
}

.b6 {
    animation: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

.b4 {
    animation: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

.b12 {
    animation: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

.b8 {
    animation: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

.b2 {
    animation: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

.b10 {
    animation: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

html {
    width: 100vw;
    height: 100vh;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}