* {
    margin: 0%;
    padding: 0%;
}


/* h1+p {
    color: plum;
} */


/* h1~p {
    color: plum;
} */

.box {
    height: 200px;
    width: 200px;
    background-color: plum;
    margin-top: 20%;
    position: sticky;
    top: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%
}

@media screen and (min-width:300px)and (max-width:800px) {
    .container {
        flex-direction: column;
    }
}

body {
    height: 1000px;
}